:root {
    background-color: #ecf5ff;  
    font-size: 62.5%;                                               /*default font size set here*/
}

*{
    box-sizing: border-box;                                         /*Box sizing will include the size of the borders*/
    font-family: Arial, Helvetica, sans-serif;                      /*Setting the font that will be used*/
    margin: 0;
    padding: 0;
    color: #333;                                                    /*Defaul text colour*/ 
}

h1,
h2,
h3,
h4{
    margin-bottom: 1rem;
}

h1{
    font-size: 5.4rem;
    color: #56a5eb;
    margin-bottom: 5rem;                                           /*rem is relative to default font size*/
}

h1>span{
    font-size: 2.4rem;
    font-weight: 500;
}

h2{
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

h3{
    font-size: 2.8 rem;
    font-weight: 500;
}

/*Utilities*/

.container{
    width: 100vw;
    height: 100vh;
    display: flex;                                                  /*Flex used for centering containers, allows for greater control*/ 
    justify-content: center;                                        /*Align Horisontally*/
    align-items: center;                                            /*Align Verticaly*/
    max-width: 80rem;                                               /*limits the size of the container*/
    margin: 0 auto;                                                     /*Ensure that container is always centered*/
}

.container>*{                                                       /*Any child of container has properties:*/
    width: 100%;
}

.flex-column {
    display: flex;                                                  /*Create Flexbox*/
    flex-direction: column;                                         /*Make it vertical to represent a column*/
}

.flex-center {                                                      /*Will Justify and align content*/
    justify-content: center;
    align-items: center;
}

.justify-center {                                                   /*Will justify*/
    justify-content: center;
}

.text-center {                                                      /*Will align text*/
    text-align: center;
}

.hidden {                                                           /*Used to hide content*/
    display: none;
}

/*Buttons*/
        /*Button basic state*/
.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
}
        /*Button Hover State*/
.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86,185,235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}